version: "3.8"

services:
    backend:
        build:
            context: ./backend
            dockerfile: Dockerfile
        restart: unless-stopped
        ports:
            - "4004:4004"
        environment:
            NODE_ENV: production
            PORT: 4004
            DATABASE_URL: ${DATABASE_URL}
            JWT_SECRET: ${JWT_SECRET}
            JWT_REFRESH_SECRET: ${JWT_REFRESH_SECRET}
            FRONTEND_URL: ${FRONTEND_URL}
        networks:
            - to-do-network
            - default

    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile
        restart: unless-stopped
        ports:
            - "4003:4003"
        environment:
            API_URL: http://localhost:4004
        depends_on:
            - backend
        networks:
            - to-do-network

    cloudflared:
        image: cloudflare/cloudflared:latest
        restart: unless-stopped
        environment:
            TUNNEL_TOKEN: ${CLOUDFLARE_TUNNEL_TOKEN}
        networks:
            - to-do-network
        command:
            - tunnel
            - --no-autoupdate
            - run
        depends_on:
            - frontend
            - backend

networks:
    to-do-network:
        driver: bridge
    default:
        name: dokploy-network
        external: true
